body{
  background-color: #f8f9fa;
  font-family: sans-serif;
}

#imgs-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;
}

#imgs-container img{
  height: 350px;
}

.detection-btn{
  position: relative;
  top: 0;
  z-index: 10;
  width: 100%;
  width: 250px;
  padding: 10px 15px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  font-size: 14px;
  color: #212529;
  cursor: pointer;
  transition: all 0.2s ease;
  font-family: sans-serif;
  outline: none;
}

.detection-label{
  width: 100px;
}